* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Colors Primary */
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  /* Colors Neutral */
  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

ul, ol {
  margin-inline-start: 26px;
}

li {
  padding-inline-start: 16px;
}

ol li::marker {
  color: var(--nutmeg);
  font-weight: 700;
}

.divider {
  background-color: var(--light-grey);
  height: 1px;
}

section {
  display: grid;
  gap: 26px;
}

section > .subtitles {
  Color: var(--nutmeg);
  font-size: 28px;
  font-family: "Young Serif", serif;
  font-weight: 400;
}

body {
  font-family: "Outfit", sans-serif;
  background-Color: var(--rose-white);
  height: 100%;
  display: grid;
  place-items: center;
}

main {
  background-Color: var(--white);
  width: 375px;
  height: 100%;
}

main > img {
  width: 100%;
}

main .content {
  padding: 35px 32px;
  display: grid;
  gap: 26px;
}

section.introduction > .title {
  font-family: "Young Serif", serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
}

section.introduction > .description {
  color: var(--wenge-brown);
  line-height: 150%;
}

section.introduction > .container {
  background-Color: var(--rose-white);
  border-radius: 8px;
  padding: 24px;
  line-height: 150%;
}

section.introduction > .container > h3 {
  color: var(--dark-raspberry);
  font-size: 20px;
  font-weight: 600;
}

section.introduction > .container > ul {
  padding: 18px 0 0;
  display: grid;
  gap: 8px;
}

section.ingredients > ul {
  display: grid;
  gap: 10px;
}

section.instructions > ol {
  display: grid;
  gap: 8px;
  line-height: 150%;
}

section.nutrition > table{
  border-spacing: 0px;
}

section.nutrition > table th,
section.nutrition > table td{
  border-bottom: 1px solid var(--light-grey);
  padding: 12px 26px;
  text-align: start;
}

section.nutrition > table th {
  font-weight: 400;
}

section.nutrition > table td {
  color: var(--nutmeg);
  font-weight: 700;
}

@media (min-width:600px) {
  main {
    width: min(760px, 90%);
    height: max-content;
    padding: 40px;
    margin: 130px 0;
    border-radius: 20px;
  }

  main > img {
    margin-bottom: 40px;
    border-radius: 10px;
  }

  main .content {
    padding: 0;
    gap: 30px;
  }

  section.introduction > .title {
    font-size: 41px;
  }

  section.introduction > .container {
    padding: 30px;
  }

  section.ingredients > ul {
    gap: 14px;
  }
}